/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
html, body {
  margin: 0;
  max-width: 100% !important;
  overflow-x: hidden !important;
  cursor: pointer;
}